.ColourBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: -4px;
}

.ColourBox:hover .copy-button {
  opacity: 1;
  transition: 0.5s;
}

.copy-button {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  color: #fff;
  text-transform: lowercase;
  border: none;
  opacity: 0;
}

.box-content {
  position: absolute;
  padding: 10px;
  width: 100%;
  left: 0;
  bottom: 0;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 12px;
}

.see-more {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  border: none;
  right: 0;
  bottom: 0;
  margin: 10px;
  color: #fff;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-transform: lowercase;
}
